<h3>Greetings and welcome to:</h3>

<h1>The Dream Game of Dreamers</h1>
<p class="lead">Welcome to RPG, the only game that matters in the real world. Here you will find a means to begin your life and set out to achieve ultimate glory. Perhaps some day you might defeat the legendary Trimpton or the ferocious and bloodthirsty Terroram...well, maybe not *you*.</p>
