<body style="background-color:#2D2D2D">
<h3><font color="333333">Greetings <font color="9E9E9E">and</font> welcome<font color="9E9E9E"> to</font>:</font></h3>
<%= image_tag "dreamers.jpg" %>

<h1><font color="290052">The Dream Game of Dreamers</font></h1>
<p class="lead"><font color="4C2E0F">Welcome to RPG, the only game that matters in the real world. Here you will find a means to begin your life and set out to achieve ultimate glory. Perhaps some day you might defeat the legendary Trimpton or the ferocious and bloodthirsty Terroram...well, maybe not *you*.</p>

